.type-area {
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: #e8e8e8;
  padding: .5rem;
}

.typing {
  /* The width and steps() values should be the number of letters in the text you want typed */
  width: 22ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}